<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <connectionStrings> 
    <!--<add name="cStr" connectionString="Data Source=DESKTOP-2LDAV77\SQLEXPRESS;Initial Catalog=QLQCF;Integrated Security=True"/>-->
    <add name="cStr" connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=QLQCF;Integrated Security=True"/>

  </connectionStrings>
</configuration>